{% extends "master.html" %}
{% block title %}Redefinição de senha concluída{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap5 %}

<div class="position-relative">
  <img
    src="{% static 'header.jpg' %}"
    alt="Avatar"
    class="img-fluid"
    style="max-height: 100%; min-width: 100%; object-fit: cover"
  />
  <div
    class="position-absolute top-50 start-50 translate-middle container my-auto text-center"
  >
    <div class="container text-center text-white">
      <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="col-6 m-auto">
          <h1 class="h3 mb-3 fw-normal">Redefinição de senha concluída</h1>
          <p>Sua nova senha foi definida. Você pode fazer login agora na <a href=" {% url 'login' %}">página de login</a>.</p>
        </main>
      </div>
    </div>
  </div>
</div>
{% endblock %}
