{% extends "master.html" %}
{% block title %}Insira a nova senha{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap5 %}

<div class="position-relative">
  <img
    src="{% static 'header.jpg' %}"
    alt="Avatar"
    class="img-fluid"
    style="max-height: 100%; min-width: 100%; object-fit: cover"
  />
  <div
    class="position-absolute top-50 start-50 translate-middle container my-auto text-center"
  >
    <div class="container text-center text-white">
      <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="col-6 m-auto">
          {% if validlink %}

          <h3 class="mb-3 fw-normal">Defina uma nova senha!</h3>
          <form role="form" method="post">
            {% csrf_token %} {% bootstrap_form form %} {% buttons %}
            <button type="submit" class="btn btn-primary py-2 rounded-pill">
              Mudar minha senha
            </button>
            {% endbuttons %}
          </form>

          {% else %}

          <p>
            O link de redefinição de senha era inválido, possivelmente porque já
            foi usado. Solicite uma nova redefinição de senha.
          </p>

          {% endif %}
        </main>
      </div>
    </div>
  </div>
</div>
{% endblock %}
