{% extends "master.html" %}
{% block title %}E-mail enviado{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap5 %}

<div class="position-relative">
  <img
    src="{% static 'header.jpg' %}"
    alt="Avatar"
    class="img-fluid"
    style="max-height: 100%; min-width: 100%; object-fit: cover"
  />
  <div
    class="position-absolute top-50 start-50 translate-middle container my-auto text-center"
  >
    <div class="container text-center text-white">
      <div class="d-flex align-items-center bg-body-tertiary">
        <main class="col-6 m-auto">
          <h1 class="h1 mb-3 fw-normal">Verifique sua caixa de entrada.</h1>
          <p>
            Enviamos a você por e-mail instruções para definir sua senha. Você
            deverá receber o e-mail em breve!
          </p>
        </main>
      </div>
    </div>
  </div>
</div>
{% endblock %}
