{% extends "master.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap5 %}

<div class="position-relative">
  <img
    src="{% static 'header.jpg' %}"
    alt="Avatar"
    class="img-fluid"
    style="max-height: 100%; min-width: 100%; object-fit: cover"
  />
  <div
    class="position-absolute top-50 start-50 translate-middle container my-auto text-center"
  >
    <div class="container text-center text-white">
      <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="col-6 m-auto">
          <h1 class="h3 mb-3 fw-normal">CADASTRE-SE!</h1>
          <form role="form" method="post">
            {% csrf_token %} {% bootstrap_form form %} {% buttons %}
            <button type="submit" class="btn btn-primary py-2 rounded-pill">
              Registrar
            </button>
            {% endbuttons %}
          </form>
          <div class="col">
            <p style="padding-top: 0px; margin-top: 34px">
              Ja tem uma conta?&nbsp;<a
                class="btn btn-primary btn-xl"
                role="button"
                href="{% url 'login' %}" 
                style="
                  margin-top: 0px;
                  padding: 0px;
                  height: 36px;
                  padding-top: 6px;
                  padding-bottom: 6px;
                  padding-right: 12px;
                  padding-left: 12px;
                  background: var(--bs-border-color-translucent);
                "
                >login</a
              >
            </p>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
{% endblock %}
