{% extends "master.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
  

<div class="container text-center">
  <div class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="col-6 m-auto">
      <form method="POST" novalidate>


        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="mb-3">
          <label class="form-label" for="floatingInput">Email address</label>
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="floatingPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
        </div>
        
        <button class="btn btn-primary py-2 rounded-pill" type="submit">
          Sign in
        </button>
      </form>
    </main>
  </div>
</div>
{% endblock %}
