{% extends "master.html" %}
{% block title %}profile{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap5 %}

<div class="position-relative">
  <img
    src="{% static 'header.jpg' %}"
    alt="Avatar"
    class="img-fluid"
    style="max-height: 100%; min-width: 100%; object-fit: cover;"
  />
  <div
    class="position-absolute top-50 start-50 translate-middle container my-auto text-center">
    <div class="container text-center">
      <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="col-6 m-auto">
          <h1 class="h3 mb-3 fw-normal" style= "padding-button: 150px ">Configurações</h1>
       
            <div cass="text-center; " style= "padding-button: 150px">
              <div cass="text-center" style= "">
                <p>Nome: {{nome}} <i class="bi bi-lock-fill"></i> </p> 
                <tr>
                  <th>first_name </th>
                </tr>
                <tr>
                  <td>{{first_name}} </td>  
                </tr>
              </div>
              <div cass="text-center; " style= "">
                <p>Sobrenome: {{sobrenome}} <i class="bi bi-lock-fill"></i>  </p>
                <tr>
                  <th>last_name </th>
                </tr>
                <tr>
                  
                    <td>{{last_name}} </td>
                 
                </tr>
              </div>
            </div>
    
            <div cass="text-center" style= "columns: 2 auto;">
                <p>Email: </p>
                <p>Senha: </p> 
            <div>
            <div class= "position-center;">
                    <a class= "text-center;" href="" class="btn btn-outline-primary me-2">Alterar Dados</a>
            </div>
          </div>
        </div>


      <div> 
        <h1 class="" style= "font-size: 25px">Historico do plano</h1></div>
          <div>
            <table>
              <tr>
                <th>id_pedido</th>
                <th>id_projeto</th>
                <th>notas</th>
                <th>datas</th>
                <th>valor</th>
                <th>meio_pagamento</th>
              </tr>
              <tr>
                {%for pagamentos in pagamentos%}
                  <td>{{pagamentos.id_pedido}} </td>
                  <td>{{pagamentos.id_projeto}} </td>
                  <td>{{pagamentos.notas}}</td>
                  <td>{{pagamentos.datas}} </td>
                  <td>{{pagamentos.valor}}</td>
                  <td>{{pagamentos.meio_pagamento}}</td>
                {%endfor%}
              </tr>
            </table>
          </div>     
      </div>
        

      </main>

    </div>
  </div>
</div>
{% endblock %}
