{% extends "master.html" %}
{% block title %}profile{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap5 %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<div class="position-relative">
  <img
    src="{% static 'header.jpg' %}"
    alt="Avatar"
    class="img-fluid"
    style="max-height: 100%; min-width: 100%; object-fit: cover;"
  />
  <div
    class="position-absolute top-50 start-50 translate-middle container my-auto text-center">
    <div class="container text-center">
      <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="col-6 m-auto">
          <h1 class="h3 mb-3 fw-normal" style= "padding-bottom: 10px ">Configurações</h1>
       
            <div cass="text-center; " style= "">
              <div cass="text-center" style= "">
                <p>Nome: {{ user.username }} <i class="bi bi-lock-fill"></i> </p> 
              </div>
             
            </div>

            <div class= "position-center; text-center;" style="padding-bottom: 50px;">
                    <a class= "text-center;" href="" class="btn btn-outline-primary me-2">Alterar Dados de Login</a>
            </div>
        <div> 
          <h1 class="h3 mb-3 fw-normal; text-center" style= "font-size: 25px">Historico do plano</h1>
            <div class= "tabela; " style= "position-center; text-align: center;  border-spacing:10px ">
              <table class= "text-center; align-center" style= " align-center; ">
                <thead>
                  <tr>
                    <th>id_pedido</th>
                    <th>id_projeto</th>
                    <th>notas</th>
                    <th>datas</th>
                    <th>valor</th>
                    <th>meio_pagamento</th>
                  </tr>
                </thead>
                <tbody>
                  
                    {%for pagamentos in pagamentos%}
                    <tr>
                      <td>{{pagamentos.id_pedido}} </td>
                      <td>ola</td>
                      <td>{{pagamentos.id_projeto}} </td>
                      <td>{{pagamentos.notas}}</td>
                      <td>{{pagamentos.datas}} </td>
                      <td>{{pagamentos.valor}}</td>
                      <td>{{pagamentos.meio_pagamento}}</td>
                    </tr>
                    {%endfor%}
                  
                </tbody>
              </table>
            </div>   
          </div>     

      </main>
    </div>
   </div>
  </div>
</div>
{% endblock %}
