{% extends "master.html" %}
{% load static %}
{% load bootstrap5 %} 
{% block title %} Produtos{% endblock %} 
{% block content %}

<main class="container my-5 py-5">
  <div class="row py-5 my-5">
    <div class="col-6 m-auto">
      <form action="/search/" method="post" class="form">
        {% csrf_token %} {% bootstrap_form form %} {% buttons %}
        <button type="submit" class="btn btn-primary">Buscar</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
